<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Income</ion-title>
    <ion-buttons slot="end">
      <app-cloud-sync></app-cloud-sync>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let cash of cashService.allIncomes">
    <ion-card-header>
      <ion-card-title>{{cash.datetime | date: 'short'}}</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>  
    <ion-card-content>
      <ion-text class="h1" color="primary">Total Income:</ion-text>
      <ion-text class="ion-text-end h2 d-block" color="danger">
        ₹ 12340.5
      </ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  <app-fab></app-fab>
</ion-footer>