<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Categories</ion-title>
    <ion-buttons slot="end">
      <app-month-choose class="mr-2"></app-month-choose>
      <app-cloud-sync></app-cloud-sync>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="pt-0">
    <ion-list-header class="sticky top-0 z-10 category-header py-1">
      <div class="flex justify-between items-center w-full pr-1 category-header h-full">
        <div class="text-xl">
          <p class="p-0 m-0 -mb-2">Your Categories</p>
          <small class="text-gray-500 text-xs">Swipe left for options</small>
        </div>
        <ion-button color="primary" class="text-sm" shape="round" size="small" fill="solid" (click)="onAddCategory()">
          <ion-icon name="add"></ion-icon>
          <span>Add</span>
        </ion-button>
      </div>
    </ion-list-header>
    <ion-item-sliding *ngFor="let cat of allCategories">
      <ion-item>
        <ion-icon size="large" name="grid-outline" color="primary" slot="start"></ion-icon>
        <ion-label>
          {{cat.name}}
        </ion-label>
        <span slot="end" class="color-area w-7 h-7 rounded-full overflow-hidden" [style.background]="cat.color">
          <input type="text" class="w-full h-full rounded-full coloris-picker select-none"
            style="border: 1.5px solid rgba(255, 255, 255, 0.499)" [value]="cat.color" [style.background]="cat.color"
            [style.color]="cat.color" #colorPicker (change)="onColorChange(colorPicker.value, cat)" disabled>
        </span>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="onDeleteCategory(cat)">Delete</ion-item-option>
        <ion-item-option color="warning" (click)="onEditCategory(cat)">Edit</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>
</ion-content>