<ion-item-sliding>
  <ion-item button (click)="showDetails()">
    <ion-icon size="large" [name]="item.type === eCashType.income ? 'wallet-outline' : 'cash-outline'"></ion-icon>
    <ion-label class="pl-1">
      <h1 class="flex justify-between items-center -mb-2 p-0">
        <span class="-bold"
          [ngClass]="item.type === eCashType.income ? 'text-green-500' : 'text-red-600'">₹{{item.amount}}</span>
        <span class="text-base items-center text-gray-400">
          {{item.datetime | date: 'dd/M/yyyy hh:mm a'}}
        </span>
      </h1>
      <h3 class="-mt-1 p-0">
        <span class="font-normal text-base grid grid-flow-col auto-cols-auto">
          <span class="truncate font-bold">{{item.title}}</span>
          <span class="text-right flex items-start justify-end">
            <span class="rounded-xl bg-gray-700" style="padding: 0 4px 0 4px">
              <span class="align-middle ml-0.5 text-sm font-extralight">{{categoryName}}</span>
            </span>
          </span>
        </span>
        <div class="items-center flex">
          <span class="italic font-extralight truncate">{{item.description}}</span>
        </div>
      </h3>
    </ion-label>
  </ion-item>
  <ion-item-options side="end">
    <ion-item-option color="danger" (click)="deleteItem()">Delete</ion-item-option>
    <ion-item-option color="warning" (click)="editIncomeExpense()">Edit</ion-item-option>
  </ion-item-options>
</ion-item-sliding>