<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="rounded-3xl">
    <ion-card-header class="ion-justify-content-center">
      <ion-item lines="none">
        <ion-avatar slot="start">
          <img [src]="config.currentUser.imageUrl ? config.currentUser.imageUrl : 'assets/images/avatar-alt.png'">
        </ion-avatar>
        <ion-label>
          <ion-text class="h4">{{config.currentUser.name}}</ion-text>
          <ion-text class="d-block" color="medium"><small>{{config.currentUser.email}}</small></ion-text>
        </ion-label>
      </ion-item>
    </ion-card-header>
  </ion-card>

  <ion-card [hidden]="true" class="rounded-3xl">
    <ion-card-header>
      <ion-label>App Settings</ion-label>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Dark Theme</ion-label>
          <ion-toggle></ion-toggle>
        </ion-item>
        <ion-item>
          <ion-label>Remember last Page</ion-label>
          <ion-toggle></ion-toggle>
        </ion-item>
        <ion-item>
          <ion-label>Default Page</ion-label>
          <ion-select placeholder="Select One" interface="action-sheet">
            <ion-select-option value="Overview">Overview</ion-select-option>
            <ion-select-option value="Income">Income</ion-select-option>
            <ion-select-option value="Expense">Expense</ion-select-option>
            <ion-select-option value="Sessions">Sessions</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Add sessions to income/expense</ion-label>
          <ion-toggle></ion-toggle>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card class="rounded-3xl">
    <ion-card-header>
      <ion-label>
        Account
      </ion-label>
    </ion-card-header>
    <ion-card-content>
      <ion-button [hidden]="true" color="warning" expand="block" (click)="confirmClear()">Clear History</ion-button>
      <ion-button color="danger" expand="block" class="ion-margin-top" (click)="onLogout()">Logout</ion-button>
      <ion-label class="text-sm center text-center block pt-2">Many more features are coning soon...!</ion-label>
    </ion-card-content>
  </ion-card>
</ion-content>