<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Account</ion-title>
    <ion-buttons slot="end">
      <app-month-choose class="mr-2"></app-month-choose>
      <app-cloud-sync></app-cloud-sync>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="rounded-3xl">
    <ion-card-header class="pb-0">
      <ion-item lines="none">
        <ion-avatar slot="start">
          <img [src]="config.currentUser?.imageUrl ? config.currentUser.imageUrl : 'assets/images/avatar-alt.png'"
            referrerpolicy="no-referrer">
        </ion-avatar>
        <ion-label class="">
          <ion-text class="h4">{{config.currentUser?.name}}</ion-text>
          <ion-text class="d-block truncate" color="medium"><small>{{config.currentUser?.email}}</small></ion-text>
        </ion-label>
      </ion-item>
    </ion-card-header>
    <ion-card-content>
      <ion-label class="text-sm center text-center block font-extralight italic">Many more features are coming soon...!</ion-label>
    </ion-card-content>
  </ion-card>

  <ion-card class="rounded-3xl">
    <ion-card-header class="flex justify-between ion-align-items-center pb-0">
      <ion-label>
        App Settings
      </ion-label>
      <ion-button color="primary" class="text-sm" shape="round" size="small" fill="solid" (click)="onSubmitSettings()">
        <span *ngIf="!savingSettings">Save</span>
        <ion-spinner *ngIf="savingSettings" name="dots"></ion-spinner>
      </ion-button>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="settingsForm">
        <ion-list>
          <ion-item>
            <ion-label>Carry forward last month balance</ion-label>
            <ion-toggle formControlName="addLastMonthBalance"></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label class="">
              <span class="block">Remember last Page when exit</span>
              <ion-note class="block absolute bottom-0.5 text-xs" *ngIf="settingsForm.get('rememberLastPage').value">
                Default page will be ignored
              </ion-note>
            </ion-label>
            <ion-toggle formControlName="rememberLastPage"></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label>Default Page</ion-label>
            <ion-select [disabled]="settingsForm.get('rememberLastPage').value" placeholder="Select One"
              interface="action-sheet" formControlName="defaultPage">
              <ion-select-option [value]="page" *ngFor="let page of allPages">{{page | titlecase}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </form>
    </ion-card-content>
  </ion-card>
  <ion-card class="rounded-3xl">
    <ion-card-header class="pb-0">
      <div class="flex justify-between ion-align-items-center">
        <div class="text-xl">
          <p class="p-0 m-0 -mb-2">Your Bank Accounts</p>
          <small class="text-gray-500 text-xs">Swipe left for options</small>
        </div>
        <ion-button color="primary" shape="round" size="small" [disabled]="!connectivity.isOnline"
          (click)="addAccountsPopup()">
          <ion-icon slot="icon-only" name="add"></ion-icon>
        </ion-button>
      </div>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item-sliding *ngFor="let account of allAccounts">
          <ion-item button (click)="onChangeAccount(account.id)">
            <ion-icon size="large" [name]="'card-outline'" slot="start" color="primary"></ion-icon>
            <ion-label>{{account.name}}</ion-label>
            <ion-icon *ngIf="account.id === config.currentAccountId" size="small" color="success"
              [name]="'checkmark-circle'" slot="end"></ion-icon>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option color="danger" (click)="onDeleteAccount(account)">Delete</ion-item-option>
            <ion-item-option color="warning" (click)="onEditAccount(account)">Edit</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card class="rounded-3xl">
    <ion-card-header class="pb-0">
      <div class="flex justify-between ion-align-items-center">
        <div class="text-xl">
          <p class="p-0 m-0 -mb-2">Your Automations</p>
          <small class="text-gray-500 text-xs">Swipe left for options</small>
        </div>
        <ion-button color="primary" shape="round" size="small" [disabled]="!connectivity.isOnline"
          (click)="createAutomation()">
          <ion-icon slot="icon-only" name="add"></ion-icon>
        </ion-button>
      </div>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item-sliding *ngFor="let automation of allAutomations">
          <ion-item button (click)="showAutomationDetails(automation)">
            <ion-icon size="large" [name]="'repeat'" slot="start" color="primary"></ion-icon>
            <div class="w-full">
              <span class="font-normal text-base grid grid-flow-col auto-cols-auto">
                <span class="truncate">{{automation.title}}</span>
                <span class="text-right flex items-start justify-end">
                  <span class="rounded-xl bg-opacity-30" style="padding: 0 4px 0 4px"
                    [ngClass]="automation.type === 'expense' ? 'bg-red-500' : 'bg-green-500'">
                    <span class="align-middle ml-0.5 text-sm font-extralight">{{automation.type | titlecase}}</span>
                  </span>
                </span>
              </span>
              <div class="items-center flex">
                <span class="italic font-extralight truncate">{{automation.description}}</span>
              </div>
            </div>
            <ion-toggle [checked]="automation.active" slot="end" (click)="$event.stopPropagation()"
              (ionChange)="updateAutomationStatus(automation)"></ion-toggle>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option color="danger" (click)="onDeleteAutomation(automation)">Delete</ion-item-option>
            <ion-item-option color="warning" (click)="editAutomation(automation)">Edit</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card class="rounded-3xl">
    <ion-card-header>
      <ion-label>
        Actions
      </ion-label>
    </ion-card-header>
    <ion-card-content>
      <ion-button [hidden]="true" color="warning" expand="block" (click)="confirmClear()">Clear History</ion-button>
      <ion-button color="danger" expand="block" class="ion-margin-top" (click)="onLogout()">Logout</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>