<ion-menu side="start" type="overlay" menuId="main" contentId="main" #sidemenu
  [disabled]="!user.isLoggedIn">
  <ion-header>
    <ion-toolbar color="danger">
      <ion-title>SManager</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item button>
        <ion-label>
          Settings
        </ion-label>
        <ion-icon name="settings-outline" slot="start"></ion-icon>
      </ion-item>
      <ion-item-divider>
        <ion-label>
          Actions
        </ion-label>
      </ion-item-divider>
      <ion-item button (click)="logout(); sidemenu.close()">
        <ion-label>
          Logout
        </ion-label>
        <ion-icon name="log-out-outline" slot="start"></ion-icon>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>