<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div>
    <div id="title" class="ion-text-center mt-4">
      SManager
    </div>
    <div class="text-center" id="description">
      Manage your Income and expenses simply
    </div>
  </div>
  <!-- <div class="ion-text-center h3 font-lighter mt-3">
    Login Now
  </div> -->
  <!-- <form (ngSubmit)="onLogin()" [formGroup]="loginForm" class="px-2">
    <div class="mt-2" id="">
      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input placeholder="Enter Email" formControlName="email"></ion-input>
      </ion-item>
      <small class="text-danger" *ngIf="f.email.errors?.required && f.email.touched">Email is required</small>
      <small class="text-danger" *ngIf="f.email.errors?.email && f.email.touched">Email is Invalid</small>
    </div>
    <div class="mt-2">
      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input [type]="showPassword ? 'text' : 'password'" placeholder="Enter Password" formControlName="password">
        </ion-input>
      </ion-item>
      <small class="text-danger" *ngIf="f.password.errors?.required && f.password.touched">Password is required</small>
    </div>
  </form>
  <div class="px-2 mt-2">
    <ion-item class="bg-dark">
      <ion-label for="show">Show Password</ion-label>
      <ion-checkbox name="show" id="show" [(ngModel)]="showPassword"></ion-checkbox>
    </ion-item>
  </div>
  <div class="ion-text-center mt-3">
    <a routerLink="/signup" [replaceUrl]="true">
      Don't have an account? Signin
    </a>
  </div> -->
  <!-- <div class="google text-center mt-4">
    <ion-button (click)="gLogin()" size="large" color="danger" fill="outline">
      Login With Google&nbsp;
      <ion-icon name="logo-google"></ion-icon>
    </ion-button>
  </div> -->
  <div class="mt-6  text-center">
    <img src="assets/images/home-image.png" alt="" style="width: 90%;">
  </div>
  <div class="errors mt-3 px-2" *ngIf="errorMessages">
    <ion-item color="danger">
      <ion-label text-wrap class="ion-text-center">
        {{errorMessages}}
      </ion-label>
    </ion-item>
  </div>
</ion-content>
<ion-footer>
  <!-- <ion-button expand="full" shape="round" size="large" (click)="onLogin()" [disabled]="!loginForm.valid">Login</ion-button> -->
  <ion-button (click)="gLogin()" expand="full" shape="round" size="large" color="danger" fill="outline">
    Continue With Google&nbsp;
    <ion-icon name="logo-google"></ion-icon>
  </ion-button>
</ion-footer>