<ion-fab horizontal="end" vertical="bottom" slot="fixed">
  <ion-fab-button color="primary" (click)="onAdd()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top" *ngIf="isOverViewPage">
    <ion-fab-button color="light" (click)="createIncome()">
      <ion-icon name="wallet-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="light" (click)="createExpense()">
      <ion-icon name="cash-outline"></ion-icon>
    </ion-fab-button>
    <!-- <ion-fab-button color="light">
      <ion-icon name="timer-outline"></ion-icon>
    </ion-fab-button> -->
  </ion-fab-list>
</ion-fab> 