<ion-header translucent>
  <ion-toolbar>
    <ion-title>{{editItem ? 'Update' : 'Create'}}</ion-title>
    <ion-buttons slot="end">
      <ion-icon (click)="dismissModal()" name="close-outline" slot="icon-only"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <div class="ion-text-center h3 font-lighter mt-2 bg-opacity-30 rounded-2xl mx-2 p-2"
    [ngClass]="isExpense ? 'bg-red-500' : 'bg-green-500'">
    {{(editItem || automationItem) ? 'Update' : 'Create'}} an{{isAutomation ? ' Automation' : ''}} {{isExpense ?
    'Expense' : 'Income'}}
  </div>
  <form (ngSubmit)="onCreate()" [formGroup]="cashForm" class="px-2">
    <div class="mt-2 relative" id="top-control">
      <ion-item>
        <ion-label position="stacked">Title</ion-label>
        <ion-input placeholder="Enter Title" #titleInput formControlName="title" autocapitalize></ion-input>
      </ion-item>
      <small class="text-danger absolute" *ngIf="f.title.errors?.required && f.title.touched">Title is required</small>
    </div>
    <div class="mt-2" id="">
      <ion-item>
        <ion-label position="stacked">Category</ion-label>
        <ion-select interface="alert" formControlName="categoryId" placeholder="Select Category">
          <ion-select-option value="">Uncategorized</ion-select-option>
          <ion-select-option [value]="cat.id" *ngFor="let cat of allCategories">{{cat.name}}</ion-select-option>
        </ion-select>
      </ion-item>
      <small class="text-danger" *ngIf="f.categoryId.errors?.required && f.categoryId.touched">Category is
        required</small>
    </div>
    <div class="mt-2">
      <ion-item id="date">
        <ion-label position="stacked">Choose{{isAutomation ? ' Start' : ''}} Time</ion-label>
        <ion-input value="{{ cashForm.value.datetime | date: 'dd MMM YYYY h:mm a' }}" class="ion-text-start" readonly>
        </ion-input>
        <ion-popover trigger="date" size="cover" side="top" alignment="center" style="--offset-y: -150px">
          <ng-template>
            <ion-datetime prefer-wheel="true" show-default-time-label="true" show-default-buttons="true"
              presentation="date-time" formControlName="datetime" locale="en"></ion-datetime>
          </ng-template>
        </ion-popover>
      </ion-item>
      <small class="text-danger" *ngIf="f.datetime.errors?.required && f.datetime.touched">Date is required</small>
    </div>
    <div class="mt-2 relative" id="">
      <ion-item>
        <ion-label position="stacked">Amount</ion-label>
        <ion-input placeholder="Enter Amount" formControlName="amount" [color]="isExpense ? 'danger' : 'success'"
          style="font-size: 1.5em;" type="number"></ion-input>
      </ion-item>
      <small class="text-danger absolute" *ngIf="f.amount.errors?.required && f.amount.touched">Amount is
        required</small>
    </div>
    <div class="mt-2">
      <p class="bg-gray-800 rounded-2xl p-1 text-center font-bold">More Options</p>
    </div>
    <div class="mt-2 relative" id="" *ngIf="!isAutomation && !editItem">
      <ion-item>
        <ion-label>Create Repeating Automation</ion-label>
        <ion-toggle formControlName="automation"></ion-toggle>
      </ion-item>
    </div>
    <div class="mt-2 relative" id="" *ngIf="f.automation.value">
      <ion-item>
        <ion-label position="stacked">Automation Frequency</ion-label>
        <ion-select placeholder="Select One" interface="popover" formControlName="frequency">
          <ion-select-option [value]="freq" *ngFor="let freq of frequencyValues">{{freq | titlecase}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <small class="text-danger absolute" *ngIf="f.frequency.errors?.required && f.frequency.touched">Frequency is
        required</small>
    </div>
    <div class="mt-2" id="">
      <ion-item>
        <ion-label position="stacked">Bank Account</ion-label>
        <ion-select interface="popover" formControlName="accountId" placeholder="Select Bank Account"
          [compareWith]="compareFn">
          <ion-select-option [value]="acc.id" *ngFor="let acc of allAccounts">{{acc.name}}</ion-select-option>
        </ion-select>
      </ion-item>
      <small class="text-danger" *ngIf="f.accountId.errors?.required && f.accountId.touched">Bank Account is
        required</small>
    </div>
    <div class="mt-2" id="">
      <ion-item>
        <ion-label position="stacked">Description</ion-label>
        <ion-textarea placeholder="Enter Description (optional)" formControlName="description" autocapitalize>
        </ion-textarea>
      </ion-item>
    </div>
  </form>
</ion-content>
<ion-footer>
  <ion-button shape="round" expand="block" (click)="onCreate()" [disabled]="!cashForm.valid">
    {{(editItem || automationItem) ? 'Update' : 'Create'}}
  </ion-button>
</ion-footer>