<ion-header translucent>
  <ion-toolbar>
    <ion-title>Create</ion-title>
    <ion-buttons slot="end">
      <ion-icon (click)="dismissModal()" name="close-outline" slot="icon-only"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <div class="ion-text-center h3 font-lighter mt-3 bg-opacity-30 rounded-2xl mx-2 p-2"
    [ngClass]="isExpense ? 'bg-red-500' : 'bg-green-500'">
    {{editItem ? 'Update' : 'Create'}} an {{isExpense ? 'Expense' : 'Income'}}
  </div>
  <form (ngSubmit)="onCreate()" [formGroup]="cashForm" class="px-2">
    <div class="mt-2" id="top-control">
      <ion-item>
        <ion-label position="stacked">Title</ion-label>
        <ion-input placeholder="Enter Title" formControlName="title"></ion-input>
      </ion-item>
      <small class="text-danger" *ngIf="f.title.errors?.required && f.title.touched">Title is required</small>
    </div>
    <div class="mt-2" id="">
      <ion-item>
        <ion-label position="stacked">Description</ion-label>
        <ion-textarea placeholder="Enter Description(optional)" formControlName="description"></ion-textarea>
      </ion-item>
    </div>
    <div class="mt-2">
      <ion-item id="date">
        <ion-label>Choose date</ion-label>
        <ion-input value="{{ currentTime | date: 'dd MMM YYYY h:mm a' }}" class="ion-text-end" readonly></ion-input>
        <ion-popover trigger="date" size="cover" side="top" alignment="center" style="--offset-y: -150px">
          <ng-template>
            <ion-datetime prefer-wheel="true" show-default-time-label="true" show-default-buttons="true"
              presentation="date-time" formControlName="datetime" locale="en"></ion-datetime>
          </ng-template>
        </ion-popover>
      </ion-item>
      <small class="text-danger" *ngIf="f.datetime.errors?.required && f.datetime.touched">Date is required</small>
    </div>
    <div class="mt-2" id="">
      <ion-item>
        <ion-label position="stacked">Amount</ion-label>
        <ion-input placeholder="Enter Amount" formControlName="amount" [color]="isExpense ? 'danger' : 'success'"
          style="font-size: 1.5em;" type="number"></ion-input>
      </ion-item>
      <small class="text-danger" *ngIf="f.amount.errors?.required && f.amount.touched">Amount is required</small>
    </div>
  </form>
</ion-content>
<ion-footer>
  <ion-button shape="round" expand="block" size="large" (click)="onCreate()" [disabled]="!cashForm.valid">
    {{editItem ? 'Update' : 'Create'}}
  </ion-button>
</ion-footer>