
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="overview">
      <ion-icon name="podium-outline"></ion-icon>
      <ion-label>Overview</ion-label>
      <ion-badge>6</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="income">
      <ion-icon name="wallet-outline"></ion-icon>
      <ion-label>Income</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="expense">
      <ion-icon name="cash-outline"></ion-icon>
      <ion-label>Expense</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="account">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Account</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>