<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Welcome</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">

  <div class="px-2">
    <!-- <div class="h4 text-center mt-3"> Hello {{user.currentUser?.name}},</div> -->
    <div class="h1 text-center mt-6">Welcome to SManager</div>
    <p class="font-lighter text-center mt-3" style="font-size: 1.3em;">This is a simple app that help you to manage and
      monitor your monthly/yearly/daily expenses and Incomes simply and easily</p>
  </div>
  <div class="mt-6  text-center">
    <img src="assets/images/home-image.png" alt="" style="width: 90%;">
  </div>
  <!-- <div class="row">
    <ion-button color="danger" (click)="logout()">Logout</ion-button>
  </div> -->
</ion-content>
<ion-footer>
  <!-- <div class="mt-4 px-2"> -->
  <ion-button shape="round" size="large" expand="block" color="danger" class="mb-1 mx-1" routerLink="/dashboard">Get
    Started</ion-button>
  <!-- </div> -->
</ion-footer>