<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Overview</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>This Month Overview</ion-card-title>
      <ion-card-subtitle>August 2021</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <canvas #barCanvas slot="start"></canvas>
        <ion-label>B1</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Last Month Overview</ion-card-title>
      <ion-card-subtitle>July 2021</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <canvas #barCanvas slot="start"></canvas>
        <ion-label>B1</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-button size="large" color="primary" expand="block" class="mb-1 mx-1">
    Load More Month
  </ion-button>
</ion-content>
